* {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

#main {
  width: 100%;
  height: 800px;
  position: relative;
  background-image: url('../img/showcase.jpg');
  background-attachment: fixed;
}

#main-text h3 {
  margin-top: 400px;
  font-size: 5rem;
}

#overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
}

#inner {
  color: #fff;
  height: 80%;
  margin-top: 250px;
}

#reserva-cita {
  background-color: rgb(0, 50, 126);
  color: black;
  font-weight: bolder;
  font-size: 20px;
  border: 2px black solid !important;
  margin-top: 30px;
}

#reserva-cita:hover {
  background-color: black;
  color: white;
}

#barber-image {
  width: 500px;
  height: 800px;
}

@keyframes arm {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-15px);
  }
}

@keyframes arm2 {
  from {
    transform: translateX(-15px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes head {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-2deg);
  }
}

@keyframes shoulder {
  from {
    transform: translate(-28px, -92.5px);
  }
  to {
    transform: translate(-23px, -92.5px);
  }
}

@keyframes head {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(1.5deg);
  }
}

@keyframes tablet {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
  to {
    transform: translateX(-10px);
  }
}

#left-arm {
  animation: arm 3s ease-in infinite;
  animation: arm2 3s ease-in infinite;
}

#left-shoulder {
  animation: shoulder 3s ease-in infinite;
}

#right-arm {
  animation: arm 5s ease infinite;
  animation: arm2 5s ease infinite;
}

#client-head {
  transform-origin: center;
  transform-box: fill;
  animation: head 2s ease-in infinite;
}

#cloud {
  fill: rgb(170, 166, 166);
  stroke: blue;
}

.center {
  position: relative;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#tablet {
  transform-origin: center;
  transform-box: fill;
  animation: tablet 5s ease-in infinite;
}

#path1026 {
  fill: black;
}

#services {
  width: 100%;
  height: 550px;
  background-image: url('../img/background-2.jpg');
  background-size: 100% 100%;
}

#services-overlay {
  height: 550px;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 3;
}

#services-row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#styles-header h1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

#logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.logo-circle {
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.box-services {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 10px;
}

.circle {
  height: 115px;
  width: 115px;
  background-color: #42464a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}
.circle:hover {
  width: 118px;
  height: 118px;
  cursor: pointer;
  background-color: #424640;
}

.circle img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#features {
  background-color: #f5f5f5;
  height: 800px;
}

#features svg {
  height: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-header .col {
  border: 5px black solid;
}

.section-header h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

nav {
  background-color: transparent !important;
  color: #000;
}

nav a {
  font-size: 1.2rem !important;
  color: white !important;
  margin-left: 8px;
}

#animation2 {
  height: 350px;
  background-color: white;
  overflow: hidden;
}

#animation-header {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}
.circle-1 {
  clip-path: circle(50%);
  width: 20rem;
  height: 20rem;
  background-color: black;
  position: relative;
  top: -90%;
  left: 80%;
}

.circle-2 {
  clip-path: circle(50%);
  width: 20rem;
  height: 20rem;
  position: relative;
  top: 10%;
  left: -10%;
  background-color: black;
}

.move-top-right {
  top: -70%;
  left: 80%;
  transition: all 5s ease;
}

.move-bottom-left {
  top: 10%;
  left: -10%;
  transition: all 5s ease;
}

.barber-pic {
  border-radius: 20px;
  margin-top: 30px;
  display: block;
  margin: 30px auto;
}
.client-img {
  clip-path: circle(50%);
}

.row {
  margin: 0 !important;
}
#barbers {
  margin: 0;
}

#first-barber {
  background-color: black;
}

#second-barber {
  background-color: whitesmoke;
  color: black;
}

#barbers-header {
  position: relative;
  background-color: rgb(182, 165, 165);
  margin: 0;
}

#barbers p {
  padding: 2rem;
  font-size: 1.5rem;
}

.barber {
  width: 280px;
  height: 180px;
}

#animation {
  height: 9px;
  background: repeating-linear-gradient(45deg, red, blue, white 1%);
}

.overlay-animation {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  height: 9px;
  min-height: 9px;
}
#text-animation {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#hotel-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 60%;
  text-align: center;
}

#hotel-image img {
  height: 100%;
  width: 90%;
  display: inline;
}
#map {
  height: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#barbers {
  background-color: white;
}

#estilos img {
  height: 400px;
}

@media screen and (max-width: 612px) {
  #main,
  #overlay {
    min-height: 820px;
    height: 820px;
  }

  #main-text {
    margin-top: 300px;
  }

  #showcase-area h1 {
    font-size: 2.5rem;
  }

  #text-animation {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  .section-header h1 {
    font-size: 2.5rem;
  }

  .box-services .circle {
    width: 90px;
    height: 90px;
  }

  .box-services .circle img {
    width: 50px;
    height: 50px;
  }

  #estilos img {
    height: 200px;
  }

  #main-text h3 {
    font-size: 3rem;
    white-space: nowrap;
  }

  .circle-1,
  .circle-2 {
    width: 10rem;
    height: 10rem;
  }

  .circle-2 {
    top: 30%;
    left: -40%;
  }
  .move-bottom-left {
    top: 50%;
  }

  .move-top-right {
    top: -70%;
    left: 80%;
    transition: all 5s ease;
  }
}
