* {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

nav {
  background-color: transparent !important;
  color: #000;
}

nav a {
  font-size: 1.2rem !important;
  color: white !important;
  margin-left: 8px;
}

#main-section {
  width: 100%;
  height: 800px;
  position: relative;
  background-image: url('../img/showcase.jpg');
  background-attachment: fixed;
}

#main-section-text h3 {
  margin-top: 400px;
  font-size: 5rem;
}

#main-section button {
  background-color: rgb(0, 50, 126);
  color: black;
  font-weight: bolder;
  font-size: 20px;
  border: 2px black solid !important;
  margin-top: 30px;
}

#main-section button:hover {
  background-color: black;
  color: white;
}

#main-section-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
}

#main-section-inner {
  color: #fff;
  height: 80%;
  margin-top: 250px;
}

.stripes {
  height: 9px;
  background: repeating-linear-gradient(45deg, red, blue, white 1%);
}

.overlay-stripes {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  height: 9px;
  min-height: 9px;
}

#animation-section {
  height: 350px;
  background-color: white;
  overflow: hidden;
}

#animation-section h1 {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.animated-background-circle-1 {
  clip-path: circle(50%);
  width: 20rem;
  height: 20rem;
  background-color: black;
  position: relative;
  top: -90%;
  left: 80%;
}

.animated-background-circle-2 {
  clip-path: circle(50%);
  width: 20rem;
  height: 20rem;
  position: relative;
  top: 10%;
  left: -10%;
  background-color: black;
}

.move-circle-top-right {
  top: -70%;
  left: 80%;
  transition: all 5s ease;
}

.move-circle-bottom-left {
  top: 10%;
  left: -10%;
  transition: all 5s ease;
}

.center {
  position: relative;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#services-section {
  width: 100%;
  height: 550px;
  background-image: url('../img/background-2.jpg');
  background-size: 100% 100%;
}

#services-overlay {
  height: 550px;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 3;
}

#services-row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.services-icon-outer-background {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 10px;
}

.services-icon-inner-background {
  height: 115px;
  width: 115px;
  background-color: #42464a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}
.services-icon-inner-background:hover {
  width: 118px;
  height: 118px;
  cursor: pointer;
  background-color: #424640;
}

.services-icon-inner-background img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#barbers-section img {
  border-radius: 20px;
  margin-top: 30px;
  display: block;
  margin: 30px auto;
}

#logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.logo-background {
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

#styles-section {
  background-color: black;
  margin-top: 0;
}

#styles-section img {
  height: 300px;
  width: 50% !important;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

#hotel-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 60%;
  text-align: center;
}

#hotel-image img {
  height: 100%;
  width: 90%;
  display: inline;
}

#map {
  height: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 612px) {
  #main-section,
  #main-section-overlay {
    min-height: 820px;
    height: 820px;
  }
  #main-section-text {
    margin-top: 300px;
  }

  .services-icon-outer-background .services-icon-inner-background {
    width: 90px;
    height: 90px;
  }

  .services-icon-outer-background .services-icon-inner-background img {
    width: 50px;
    height: 50px;
  }

  #estilos img {
    height: 200px;
  }

  #main-text h3 {
    font-size: 3rem;
    white-space: nowrap;
  }

  .animated-background-circle-1,
  .animated-background-circle-2 {
    width: 10rem;
    height: 10rem;
  }

  .animated-background-circle-2 {
    top: 30%;
    left: -40%;
  }

  .move-circle-bottom-left {
    top: 50%;
  }

  .move-circle-top-right {
    top: -70%;
    left: 80%;
    transition: all 5s ease;
  }
}
